@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto+Condensed:wght@300;400;700&display=swap');

/*-----------------------
    RESET
-----------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-----------------------
    GLOBAL
-----------------------*/
// section {
    
// }

/*-----------------------
    CONTAINERS
-----------------------*/
.container {
    margin: 0 auto;
    max-width: 1150px;
    padding: 0 2%;
}

/*-----------------------
    TYPO
-----------------------*/
body {
    font-family: 'Roboto Condensed', 'Helvetica Neue', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
